.area__doc__subject{
    margin-top: 60px;
    padding-top: 60px;
    border-top: 1px solid #e2e4ee;
    border-bottom: none;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: bold;
    color: #111;
    font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}

.area__doc__header p{
    padding-top: 16px;
    color: #444;
    letter-spacing: -0.2px;
    line-height: 26px;
    white-space: pre-line;
    font-size: 16px;
    font-family: 'NotoSans DemiLight', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    word-break: keep-all;
}

.area__doc__header p code {
    padding: 2px 5px 3px;
    font-size: 15px;
    line-height: 20px;
    color: #03166c;
    font-family: 'RobotoMono Regular', consolas, monospace;
    background-color: rgba(45, 80, 255, 0.1);
    vertical-align: top;
    text-indent: initial;
}

.area__doc__body h4{
    font-weight: bold;
    line-height: 28px;
    color: #111;
    letter-spacing: -0.2px;
    font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    padding-top: 40px;
}

.area__doc__body h5{
    display: block;
    margin-top: 18px;
    margin-bottom: 0px;
    font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}

.area__doc__body p pre {
    margin-top: 14px;
}

.area__doc__body pre {
    overflow-x: auto;
    margin-top: 14px !important;
    font-family: 'RobotoMono Regular', 'NotoSans Light', monospace, 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    color: white;
    font-size: 15px;
    line-height: 26px;
}

.area__doc__body tbody td {
    color : #444;
}

.url__code {
    background-color: #01092b;
    padding: 15px;
}

.http__method {
    color: #569cd6;
}

.http__path {
    color: #d69d85;
}

.key {
    color: #9cdcfe;
}

.value {
    color: white;
}

.variable {
    color: #bd63c5;
}

.container__table {
    margin-top: 14px;
    border-top: 1px;
}

.__json-key__ {
    color : #9cdcfe;

}

.__json-value__{
    color : #b8d7a3;
}

.__json-string__ {
    color : #d69d85;
}

.__json-boolean__ {
    color : #569cd6;
}
.MuiDrawer-root {
    background-color: red;
}

.nav-sm{
    display: block;
    font-size: 26px;    
    padding: 4px 8px;
    width: 240px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s;
}
.nav-sm:hover{
    font-size: 30px;
    color: #03166c;
    font-weight: bold;
}

.nav-point{
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s;
}
.nav-point:hover{
    font-size: 24px;
    color: #03166c;
    font-weight: bold;
}

.group__subject {
    display: table;
    width: 100%;
    height: 200px;
    background-color: #03166c;
    margin-top: 60px;
}
.area__subject {
    display: table-cell;
    position: relative;
    z-index: 1;
    padding-left: 82px;
    vertical-align: middle;
}
.area__subject .tit_subject {
    padding-top: 6px;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: #fff;
    font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    letter-spacing: -0.2px;
}

.area__doc {
    padding-top: 1px;
    margin: auto 82px;
}