.KDC_IconButton__root__1ksa2.btn_dropdown:hover {
  border-color: #03166c;
}
.KDC_IconButton__root__1ksa2.btn_dropdown {
  border: 1px solid #e5e5e5;
  border-top-color: rgb(229, 229, 229);
  border-right-color: rgb(229, 229, 229);
  border-bottom-color: rgb(229, 229, 229);
  border-left-color: rgb(229, 229, 229);
  height: 20px;
  margin-left: 16px;
  position: relative;
  transition: all 0.6s;
  width: 24px;
  padding-left: 5px;
  bottom: 2px;
}
.KDC_Icon__list__15KxQ {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAYAAACXtf2DAAAAAXNSR0IArs4c6QAAAEdJREFUOBFjZBbL+c+ABP6+msII4qKLIykhiclEkmoyFA99C8jw9KgWKocAI3p6H80H6CFM84yGbuEon/4hMJoPCIY5zfMBAIelEKLtJD4mAAAAAElFTkSuQmCC) 0 0 no-repeat;
  background-size: auto;
  background-size: 12px 10px;
  height: 16px;
  width: 12px;
}
.KDC_Icon__root__3ZxBV {
  display: inline-block;
}
.mb-1 {
  margin-bottom: 1px !important;
}

.KDC_AppInfo__root__DWY2K{
  margin-top: 24px;
}
.KDC_Section__root__2FzZg {
  padding-left: 20px;
  padding-right: 48px;
  padding-bottom: 40px;
}

.KDC_SectionTitle__root__3lMtt {
  color: #111;
  font-family: NotoSans Medium,Malgun Gothic,맑은 고딕,Apple SD Gothic Neo,돋움,dotum,sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -.2px;
  line-height: 30px;
  padding-bottom: 16px;
  transition: all 0.6s;
}

.Button_Nomal:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.Button_Nomal {
  float: right;
  padding: 0px 16px;
  border: 1px solid #4287F5;
  height: 35px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
  background-color: #4287F5;
  margin: 0px 0px 0px 8px;
  transition: all 0.6s;
}

.Button_Update:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.Button_Update {
  float: right;
  padding: 0px 16px;
  border: 1px solid #4287F5;
  height: 35px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
  background-color: #4287F5;
  margin: 10px 0px 0px 8px;
  transition: all 0.6s;
}

.Button_Delete:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.Button_Delete {
  float: right;
  padding: 0px 16px;
  border: 1px solid tomato;
  height: 35px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
  background-color: tomato;
  margin: 10px 0px 0px 8px;
  transition: all 0.6s;
}
.Button_List {
  background-color: transparent;
  cursor: pointer;
  font-size: 100%;
  vertical-align: middle;
}

.KDC_ListLayout__item__37RHl {
  display: table-row;
  font-size: 14px;
}
.KDC_ListLayout__item__37RHl .tit_info {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: table-cell;
  min-height: 24px;
  padding: 12px 12px 12px 0;
  vertical-align: top;
  width: 173px;
}
.KDC_ListLayout__item__37RHl .tit_info .lab_normal {
  color: #111;
  display: inline-block;
  font-family: NotoSans Medium,Malgun Gothic,맑은 고딕,Apple SD Gothic Neo,돋움,dotum,sans-serif;
  letter-spacing: -.2px;
  line-height: 24px;
}
.KDC_ListLayout__item__37RHl .KDC_ListLayout__content__3-MiL {
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  color: #111;
  display: table-cell;
  font-size: 14px;
  letter-spacing: -.2px;
  line-height: 24px;
  min-height: 24px;
  padding: 12px 0px 12px 16px;
  width: 580px;
}

@media ( max-width: 1116px ) {
  .KDC_AppInfo__root__DWY2K  {
    width: 600px;
  }
  .KDC_Section__root__2FzZg {
      width: 600px;
  }
  .Button_Nomal {
    padding: 0px 4px;
    width: 52px;
    height: 28px;
    font-size: 8px;
  }
  .Button_Update {
    padding: 0px 4px;
    width: 68px;
    height: 28px;
    font-size: 8px;
  }
  .Button_Delete {
    padding: 0px 4px;
    width: 52px;
    height: 28px;
    font-size: 8px;
  }
}
