.notice__content{
    margin-top: 20px;
}

.notice__list{
    padding: 24px 30px;
    list-style: none;
    border-radius: 12px;
    border: 1px solid #eceef3;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%);
    background-color: #fff;
}

.notice__icon {
    flex-shrink: 0;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 12px;
    background-color: #424242;
    border-radius: 5px;
}

.notice__link{
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}
.notice__link:hover{
    background-color: lightgray;
}

.notice__title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    line-height: 3.1rem;
    font-weight: 600;
    letter-spacing: -.32px;
    color: #222;
}
.notice__date{
    flex: none;
    margin-left: auto;
    font-size: 1.4rem;
    line-height: 3.1rem;
    color: #424242;
}