.section {
    position: relative;
    display: flex;
    min-width: 960px;
    margin: 0 auto;
}
.section__api{
    position: relative;
    left: 100px;
}
.section__inner{
    padding-top: 40px;
    display: block;
    width: 960px;
    margin: 0 auto;
    height: 400px;
}

.section__text__franchiess{
    float: left;
    width: 640px;
}
.section__text__api{
    float: right;
    width: 640px;
    position: relative;
}
.section__text__title{
    font-size: 32px;
    color: #222;
    line-height: 46px;
}
.section__text__description{
    display: block;
    padding: 3px 0 4px;
    letter-spacing: -1px;
    word-break: keep-all;
    margin: 10px 0 0;
    font-family: 'NotoSansRegular';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #222;
    text-align: left;

}
.section__text__button{
    margin: 20px 0;
    padding: 14px 36px;
    height: 52px;
    width: 180px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    background-color: rgb(66,135,245);
    transition: all 0.4s;
}
.section__text__button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    width: 188px;
    height: 56px;
}
.section__image_franchiess{
    width: 320px;
    position: relative;
}
.section__image_api{
    width: 320px;
    position: relative;
    right: 100px;
}
.section_image {
    background-color: #d5d5de;
    border-radius: 10px;
}

@media ( max-width: 996px ) {
    .section__inner {
        margin-top: 30px;
        margin-bottom: -140px;
    }
    .section__text__title {
        font-size: 24px;
        font-weight: bolder;
    }
    .section__text__description {
        font-size: 16px;
    }
    .section__image_franchiess {
        text-align: center;
        display: none;
    }
    .section__image_api {
        display: none;
    }
    .section__text__api{
        right: 260px
    }
    .section__1 {
        padding-left: 200px;
    }

}