
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<style type="text/css">
	h1 {
		text-align: center;
	}
	.page-header {
		margin-bottom: 60px;
	}
	form>* {
		margin-bottom: 30px;
	}
	
	.text-muted {
		border-top: 1px solid #eee;
		margin-top: 30px;
		padding-top: 30px;
		color: black
	}
	
	.register{
		margin-top: 10px;
		
	}
	.search {
		float: right;
	}
</style>
</head>
<body>
	<!-- container start -->
	<div class="container">
		<div class="page-header">
		  <h1>비즈플레이 & 비플페이</h1>
		</div>
		<form>
		  <div class="form-group">
		    <label for="inputEmail">이메일</label>
		    <input type="email" class="form-control" id="inputEmail" placeholder=이메일 autofocus>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword">비밀번호</label>
		    <input type="password" class="form-control" id="inputPassword" placeholder="비밀번호">
		  </div>
		  <div class="checkbox">
				<label> 
					<input type="checkbox" value="remember-me">  자동로그인
				</label>
		  </div>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
		</form>
		<div class="register">
			<span><a href="#">회원가입</a><a class="search" href="#">아이디찾기/비밀번호찾기</a></span>
		</div>
	</div>
	<!-- container end -->
	
	<footer class="footer">
		<div class="container">
        	<p class="text-muted">저작권/전화번호~</p>
        </div>
    </footer>
	
</body>
</html>